{% extends "usuarios/base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-une-primary text-white">
                <h2>Restablecer contraseña</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-une">Enviar enlace</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}